table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
}

th{
    background-color: blue;
    color:white;
    padding:8px;
    border:1px solid black;
}

td{
    padding: 8px;
    border:1px solid black;
    text-align: center;
}